language: python
python:
  - "3.5"
cache: pip
install:
  # Install any dependencies required for building your site here.
  # `awscli` is required for invalidation of CloudFront distributions.
  - pip install awscli

deploy:
  provider: s3
  access_key_id: 
    secure: "IenCMnjm/jq/n5H0EINkksOtmjc+QKtwgq0vYPbXGlEgtm7qCv33A1wA2Old0U1mlHZQ6UKVs/EIciK6Q6iLBT7MA62zynbERu3fIZn05jfv9Sx9HTrV895sWW4e7WX9HcMQgPFRYxZSQvzvzjotiadJnX2YkMiC6YhktVMBCx2Cgm85N5136KY80YF2TWSSmwb3XigzjbMoVt8SsEaJBnECcmcU9zlNdn84ewKSW+NxUVYiMSW4ajCO0M2DgszdDvKRJ/XzPIMsnqDkbXcbwXZeq9fa9CT4nf/ScQ95KLyM88crcgbvFeizUI+PG3T+Bort/2LzlUDnFZLUWqnbUpEu81AQis0qmNg1Jauol1CY9yQPl5vfZcf8JMxaf3oGoOlWhuWnPRbDuCwlQUi2RP4u4fNuXOPV4FUN/kO4oOtSBnOzSo/EK066K58HNYTigfXU3Ab4bGzwFqLrjvt63T8ncdT3Xt9fyN5wkAr/hKUwRZdvnpFSwltFBKIrLUSj0keaSUHhMc6vv09vCLuBoYL+hih8pDFa/Z3UUngj18j7T1TTpYXBxtBqbNRKlW2EY7UOX6nJprzz/0VIH9fp+feqd10639tPHkeGmtuUMlrFOnVO4axk4akxtpxnmPcUVjnRaoUlh281Y4PFm2m1V1xjXS2CR50RHG5g+xlKIBE=" 
  secret_access_key: 
    secure: "jRxdmmEBN5fqQ5sK39xyGYouDKdTFxe96d9Dz3MhWcC1OvMg9UT+FzKgHtJTpFDh009F6bGNRo9KMgDkguCzuvU/b7CF1rWD/2CWyvDAQh5ErAJT6y48fgvh7XPDl1tJjZ39fVpu6hIhGBU4m6vt5k43b6coKT7T4gnRl0meY2qA/7AKaZKPuRsd4xmF3EDp26vlQoGOa0M8HesXZk6flxlsyqF0ZzBtYrkUqNiu+Tupw9ucZcjq8Om4RUfGwLZ68kc549IiR30MuDd11cVoy1+lZE1TjZat5u+LM7Rt7LKzS7LnfQrAWnfcioxcJhL15rZlA0Zo7/akrUFA6L6+0NLjYq16ww8AR71R91t1FrIvZL64KYsVP565A5zEK0MA341Hu0y2HIewd6r+Q+858AvtpaKXC7e5F+4Qt7PlBbV9EkvB2C+S3kezQGNlGq0YYYYmvLVCtWwU00vPL/qEPAScVPBAx1oHD5txphOhibP8qxCjFsGgPix35oR5BJ67F0U0sC5RTuQQgW48/z086QbQdB7QRQa3q6OVpRTz06CslZ5xqFqJ0rcgu/D2dKmmM6g/0YMHzxBpYNalPxy04NQ66p+PfWI2qEP07fl0vuCE3GPiyvS8C58vUuuuqhX7FkVIdBAQPKIGjVt6GSIb2nxFCWcKpFZCO5I7CRDLdjU="
  bucket: "givemeethereum.co"

notifications:
  email: false
